*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Gilroy';
}
html, body {
    height: 100%;
    width: 100%;
}
#main{
    height:100%;
    width:100%; /*got 100% height and width of body*/
    position: relative; /* change later and see why? */

}

.nav{
    height:100px; /*decided nav bar height as fixed and width as 100% of screen*/
    width:100%;
    /* made nav bar looking div till now */
    padding: 0 4vw; /*gave little distance between border and content from right left*/

    display: flex; /* children of nav to come in a line, or allign themselves horizontally one after another */
    align-items: center;/* in horizontally, everything under nav div, allign themselves like they have equal 
    space from top and bottom  */
    justify-content: space-between; /*got space between logo element and nav-part2 div*/
    
    border-bottom: 2px solid #dadada;
    /* background-color: lightseagreen; */

}

.navContentBox{  /*later make js like when u touch individual h4's, underline come below them*/
    display: flex;/*all elements of this div allign themselves horizontally*/
    gap: 4vw; /*all elements under it got 4% of width gap in between them*/
    align-items: center; 
    justify-content: center;
}

.nav h1{
    font-size: 2vw; /*font is 2% of viewport width*/
}

.navContentBox h4{
    font-size: 1vw;
}

.navContentBox i{
    display:none; /*this will make icon disappear*/
}
/* nav mobile version */
@media (max-width:600px) {
    .nav{
        height: 60px;
        padding: 0 6vw;
    }

    .nav h2{
        font-size: 6vw;
    }

    .nav h4{
        font-size: 4vw;
        display: none; /*this will make it disappear in mobile version*/
    }
    .nav i{ 
        display:block;
        font-size: 6vw;
    }


}

.navContentBox button{
    font-size: 1vw; /*same as nav part 2 */
    padding: 0.6vw 1.4vw;
    background-color: #FF735C;
    color: #fff;
    border-radius: 5px;
    font-weight: 700;
    border: 0px ;
}

/* nav bar over, content started  */

.content{
    height:calc(100% - 100px);
    width:100%;
    /* flex made their two child div come side by side */
    display: flex;
    /* position: relative; relative to normal position */
}

.left{
    height: 50%;
    width:50%;
    /* background-color: aqua; */
    padding: 5vw 4vw;
}

.left h1{
    font-size: 4.2vw;
    line-height: 4.6vw;;
}

.left h1 span{
    color: #FF735C;
}

.left p{
    margin-top: 1.5vw;
    margin-bottom: 4vw;
    width: 80%;
    color: #666;
    font-size: 1.2vw;
    font-weight: 600;
}
  
.left button{
    font-size: 2vw;
    padding: 1vw 2vw;
    background-color: #FF735C;
    color: #fff;
    border-radius: 5px;
    font-weight: 700;
    border: 0px ;
}

.right{
    height: 100%;
    width:50%;
    /* background-color: beige; */
}

.right img{
    height: 85%;
    width: 100%;
}

@media (max-width:600px) {
    .content{
        height:calc(100% - 60px);
        flex-direction: column;
        width: 100%;
    }

    .left{
        width:100%;
        height:40%;
    }

    .right{
        height:60%;
        width:100%;
    }

    .left h1{
        font-size: 8vw;
        line-height: 8vw;
    }

    .left p{
        margin-top:7vw ;
        margin-bottom: 8vw;
        font-size: 3vw;
        width: 90%;
    }

    .right img{
        height:100%;
        width:100%;
    }

}


